span {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
}

h1{
	font-size: 2.5em;
	pading-bottom: 0;
}

p{
	font-size: 2em;
	font-weight: 150%;
}

#report{
	margin-top: 50px;
	margin-bottom: 300px;
}